@import "../../variables";

.dog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $color-primary;
  margin-bottom: 24px;
  font-size: $font-size-medium;
  color: $color-primary;

  p {
    margin-bottom: 0;
  }

  button {
    font-size: $font-size-small;
    background-color: white;
    color: $color-primary;
  }
}
